*{
    margin:0; padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none; border:none;
    text-decoration: none;
    transition: .2s linear;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

header {
    position: fixed;
    top:0; left:0; right:0;
    background:#fff;
    padding:2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    
}
.lgo{
    width: 170px;
    margin-right: 2rem;
    margin-left: -10px;
    
}

.navbar a{
    font-size: 2rem;
    padding:0 1.5rem;
    color:black;
}
.navbar a:hover{
    color: rgb(24, 109, 158);
}

.icons a{
    font-size: 2.5rem;
    color: black;
    margin-left: 1.5rem;
}
.icons a:hover{
    color: rgb(24, 109, 158);
}

#menu {
    display: none;
}
.fa-bars {
    font-size: 3rem;
    color:#333;
    border-radius: .5rem;
    padding:.5rem 1.5rem;
    cursor: pointer;
    display: none;
}

section{
    padding: 2rem 9%;
}
.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 500rem;
    background-color: rgb(24, 142, 158);
    color: #fff;
    padding: .8rem 3rem;
    cursor: pointer;
    font-size: 1.7rem;

}
.btn:hover{
    border: 2px solid black ;
    background-color: transparent;
    color: black;
}
.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url(../images/home.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.home .contenido{
    max-width: 70rem;
}
.home .contenido h3{
    font-size: 6rem;
    color: black;
}
.home .contenido p{
    font-size: 2rem;
    color: rgb(99, 96, 96);
    padding: 1rem 0;
    line-height: 1.5;
}
.info .columinfo{
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 10rem 0;
    padding-bottom: 10rem;
    
}

.columinfo .container-video{
    flex: 1 1 40rem;
    position: relative;
}
.container-video video{
    width: 90%;
    border: 1.5rem solid #fff;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    height: 100%;
    object-fit: cover;
}
.container-video h3{
    position: absolute;
    top: 50%; transform:translateY(-50%) ;
    font-size: 3rem;
    background: #fff;
    width: 90%;
    padding: 1rem 2rem; 
    text-align: center;
    mix-blend-mode: screen;

}
.columinfo .contenido{
    flex:1 1 40rem; 
    
}

.columinfo .contenido h3{
    font-size: 3rem;
    color: black; 
    
    
}
.columinfo .contenido p{
    font-size: 1.5rem;
    color:black;
    padding:.7rem 0;
    padding-top: 2rem;
    line-height: 1.5;
    
}
.titulo{
    text-align: center;
    font-size: 4rem;
    color: black;
    padding: 2rem;
    margin: 2rem 0;
    margin-bottom: 5rem;
    background: rgba(178, 218, 224, 0.336);
}
/* -------servicios---------*/
.servicios .container-serv{
    display: flex;
    flex-wrap: wrap;
    gap:3rem;
    padding-bottom: 7rem;
}
.container-serv .container{
    flex:1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border-radius: .5rem; 
    border:.1rem solid rgba(0,0,0,.1);
    position: relative; 
    background-color: #fff;
}
.container .image{
    position: relative;
    text-align: center;
    padding-top: 2rem;
    overflow: hidden;
}
.container .image img{
    height: 20rem;
    filter: brightness(0.5);
}

.content-serv{
    padding: 2rem;
}
.content-serv h3{
    position: absolute;
    top: 55%; transform:translateY(-50%) ; 
    font-size: 2.6rem;
    color: white;
    padding: 1rem 1rem; 
    text-align: center;
    background: rgb(24, 142, 158);
}

.content-serv p{
   font-size: 1.5rem;
   color: black;
   padding-top: 1rem;
}

/*---------precio---------*/
.planes{
    background: rgba(245, 245, 245, 0.945);
}
.subtitulo{
    text-align: center;
    font-size: 3rem;
    color: black;
    padding: 1rem;
    margin: 2rem 0;
}
.planes .container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5;
    padding-bottom: 5rem;
    
} 
.scontent{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 350px;
    height: auto;
    box-shadow: 0 5px 14px rgba(0, 0, 0, .1), 0 5px 5px rgba(0, 0, 0, 0.22);
    border-radius: 20px;
    position: relative;
    background: #fff;
    padding: 2rem;
    margin: 5rem;
    transition: all 0.2s ease-in;
}
.encabezado{
    padding-top: 1rem;
    margin: 1rem;
    text-align: center;
    font-size: 1.5rem;
}
.encabezado h1:hover{
    color: rgb(24, 142, 158);
    transform: scale(1.1);
    letter-spacing: 2;
}
.encabezado img{
    width: 250px;
    display: block;
    margin: 0 auto;
    margin-top: 2rem;
}
.informacion{
    /* width: 100%; */
    padding: 2rem;
}
.informacion p{
    padding: 2rem 1rem;
    font-size: 1.5rem;
    border-bottom:  1px solid #d5d5d5;
    color: black;
   
}

.check{
    color: rgb(24, 142, 158);
}
.nocheck{
    color: rgba(247, 105, 95, 0.884);
}
.precio{
    padding: 2rem;
    text-align: center;
}
.precio p{
    font-size: 2rem;
    font-weight: 800;
}
.precio .p sub{
    font-size: 0.5;
}
.btn-precio{
    padding: 0.6rem 3rem;
    border: 2px solid rgb(24, 142, 158);
    background-color:rgb(24, 142, 158) ;
    color: #fff;
    border-radius: 30px;
    cursor: pointer;
    transition: all 50ms ease-in;
    text-align: center;
    margin-top: 1rem;
    font-size: 1.5rem;
}
.btn-precio:hover{
    border: 2px solid black ;
    background-color: transparent;
    color: black;
    font-weight: 800;
}

/*-----Reseñas---------*/
.comentarios{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    width: 100%;
    padding-bottom: 5rem;
}
.titulo1{
    text-align: center;
    font-size: 4rem;
    color: black;
    padding: 2rem;
    margin: 2rem 0;
    /* margin-bottom: 5rem; */
    background: rgba(178, 218, 224, 0.336);
}
.testimonios{
    position: relative;
    max-width: 900px;
    margin-top: 1rem;
    width: 100%;
    padding: 50px 0;
    background-color: #BFB8AE;
    box-shadow: 0 5px 14px rgba(0, 0, 0, .1), 0 5px 5px rgba(0, 0, 0, 0.22); 
    overflow: hidden;
}
.testimonios .imaget{
    height: 170px;
    width: 170px;
    object-fit: cover;
    border-radius: 50%;
}
.testimonios .slide{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap:  20px;
}
.slide p{
    text-align: center;
    padding:  0 100px;
    font-size: 14px;
    font-weight: 600;
    color: black;
    
}
.slide .quote-icon{
    font-size: 6rem;
    color: rgb(24, 142, 158);
}
.slide .detalle{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.detalle .nombre{
    font-size: 20px;
    font-weight: 600;
    color: black;
}
.detalle .cliente{
    font-size: 14px;
    font-weight: 400;
    color: black;
}

/* swiper button */
.nav-btn{
    
    transform: translateY(20px);
}
.nav-btn::after,
.nav-btn::before{
    font-size: 10px;
    color:#fff ;
}
.swiper-pagination-bullet{
    background-color: rgba(0, 0, 0, 0.8);
}
/*-------CONTACTO----------*/

.contacto .containerc{
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 4rem;
    align-items: center;
    padding-bottom: 4rem;
}
.contacto .containerc form{
    flex: 1 1 40rem;
    padding: 2rem 2.5rem;
    box-shadow: 0 5px 14px rgba(0, 0, 0, .1), 0 5px 5px rgba(0, 0, 0, 0.22);
    border: .1rem solid rgba(0, 0, 0, .1);
    background: white;
    border-radius: .5rem;
}
.containerc .mapa{
    flex: 1 1 40rem;
}
.containerc .mapa iframe{
    width: 100%;
}
.containerc form .cuadro{
    padding:1rem ;
    font-size:  1.7rem;
    color: #333;
    text-transform: none;
    border:  .1rem solid rgba(0, 0, 0, .1);
    border-radius:  .5rem;
    margin: .7rem 0;
    width: 100%;
}
.containerc form .cuadro:focus{
    border-color: rgb(24, 142, 158);
}

.containerc form textarea{
    height: 15rem;
    resize: none;
}
.btnc{
    display: inline-block;
    margin-top: 1rem;
    border-radius: .10rem;
    background-color: rgb(24, 142, 158);
    color: #fff;
    padding: .8rem 3rem;
    cursor: pointer;
    font-size: 1.7rem;
    padding-bottom: 1rem;

}
.btnc:hover{
    border: 2px solid black ;
    background-color: transparent;
    color: black;
}

/*-----FOOTER------*/
.footer-lp{
    background-color: rgb(24, 142, 158);
}
.footer-lp .distribucion{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}
.distribucion .izquierda .distribucion .centro .distribucion .derecha{
    flex: 1 1 25rem;
}
.izquierda h3{
    color: white;
    font-size: 36px;
    font-weight: normal;
}
.izquierda .links{
    color: white;
    margin: 20px 0 12px;
}
.links a{
    color: inherit;
    line-height: 1.8;
    text-decoration: none;
    font-size: 13px;
}
.links a:hover{
    color: black;
    text-decoration: underline;
}
.izquierda .nombre-empresa{
    color: #c4c4c4;
    font-size: 10px;
    font-weight: normal;
    margin: 0;
}
.distribucion .centro i{
    color: #fff;
    font-size: 25px;
    height: 38px;
    width: 38px;
    margin: 10px 15px;
    text-align: center;
    vertical-align: middle;
    line-height: 42px;
}
.centro p{
    display: inline-block;
    color: #ffff;
    vertical-align: middle;
    margin:  0;
    font-size: 14px;
}

.distribucion .derecha .info-empresa{
    color: black;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    margin: 0;
    padding: 1rem 0;
}
.derecha .info-empresa span{
    display: block;
    color: #ffff;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 20px;
}
.derecha .info-empresa p{
    padding: 1rem 0;
}
.info-empresa .icons-footer{
    margin-top: 25px;
}
.icons-footer a{
    display: inline-block;
    cursor: pointer;
    font-size: 20px;
    width: 30px;
    height: 30px;
}
.icons-footer img{
    width: 30px;
}

.home-planes{
    display: flex;
    align-items: center;
    min-height: 40vh;
    background: #e4dfdff1;
    background-size: cover;
    background-position: center;

}
.home-planes .contenido{
    max-width: 80rem;
    padding-top: 5rem;
}
.home-planes .contenido h3{
    font-size: 4rem;
    color: black;
}
.home-planes .contenido p{
    font-size: 1.5rem;
    color: black(99, 96, 96);
    padding: 1rem 0;
    line-height: 1.5;
}

/*----------SOBRE NOSoTROS----------*/
.home-nosotros{
    display: flex;
    align-items: center;
    min-height: 50vh;
    background: url(../images/nosotros.jpeg) no-repeat ;
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(4px);

}
.home-nosotros .contenido{
    max-width: 80rem;
    padding-top: 5rem;
    
}
.home-nosotros .contenido h3{
    font-size: 3rem;
    color: black;
}
.home-nosotros .contenido .linea{
    background-color: black;
    width: 70%;
    height: 2px;
    border-radius: 2rem;
    margin-bottom: 1.5rem;
    
}
.home-nosotros .contenido p{
    font-size: 1.5rem;
    color: black(99, 96, 96);
    padding: 1rem 0;
    line-height: 1.5;
    text-align: justify;
    padding-left: 10rem;
}
.nosotros .team{
    padding-bottom: 20rem; 
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    justify-items: center;
}
.nosotros h1{
    text-align: center;
    font-size: 3rem;
    color: rgb(24, 142, 158);
    padding: 2rem;
    margin: 10rem 0;
    margin-bottom: 3rem;
}
.nosotros .box{
    width: 250px;
    height: 350px;
    padding: 0px 10px;
    text-align: center;
    border-radius: 3%;
}
.box img{
    height: 270px;
    margin-top: 10px;
    /* border-radius: 5%; */
    box-shadow: 0 5px 14px rgba(0, 0, 0, .1), 0 5px 5px rgba(0, 0, 0, 0.22);
}
.box .content-us{
    padding: 2rem;
}

.content-us h3{
    color: black;
    font-size: 1.8rem;
    font-weight: 500;
}

.content-us p{
   font-size: 1.5rem;
   color: rgb(24, 142, 158);
   /* padding-top: 1rem; */
}

@media (max-width:991px){
    
    html{
        font-size: 55%;
    }

    header{
        padding:2rem;
    }
    section{
        padding:2rem;
    }
    .home{
        background-position: left;
    }
}
@media (max-width:768px){
    .fa-bars{
        display:block;
       
    }
    .navbar{
        position:absolute;
        top:100%; left:0; right:0;
        background:#eee;
        border-top: .1rem solid rgba(0,0,0,.1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    #menu:checked ~ .navbar{
        clip-path:polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    .navbar a{
        margin:1.5rem;
        padding:1.5rem;
        background:#fff;
        border:.1rem solid rgba(0,0,0,.1);
        display: block;
    }
    .home .contenido h3{
        font-size: 5rem;
    }
    
}

@media (max-width:450px){
    html{
        font-size: 50%;
    }
    .titulo{
        font-size: 3rem;
    }
}